
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
************* ESTILOS GENERALES DE LA PÁGINA******************
*/
/**
Los selectores CSS: clase: .nombre_clase html tag: tag id: #nombreid
*/
html{
    font-size: 16px;
    color: black;
}
h1,h2,h3,h4,h5,h6,ol,ul{
    margin: 0;
    padding: 0;

}
h1,h2{
    color:#2e6da4;
}
h1{
    text-align: center;
    font-size: 200%;
    font-weight: bold;/* BOLDER*/
}
h2,h3{
    heigth:33px;
}
a{
    color: #606034;
    text-decoration: none;
}
button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

p{
    text-align: justify;
}

/**** MAQUETACIÓN DE LAYOUT*******/
nav{

    top: 0;
    height: 40px;
    z-index: 8000;
    width: 100%;
    flex-direction: row;
    justify-content: center;
   }

#wrapper{
    position: relative;
    top: 40px;
}

/*** maquetacion de menu ****/
nav ul{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#397230+0,53b701+34,78cc84+70,4ab251+100 */
    flex-direction: row;
    justify-content: center;
}
nav ul li{/*al li que esta dentro de un ul que esta dentro del nav   */
    height: 30px;

    width: 150px;/*un ancho a cada uno */
    text-align: center;/* que el texto este centrado en su "caja"*/
    list-style: none;/* le quitamos el disc de la lista*/
    /* border-color: white;
     border-style: solid;
     border-width: 1px;*/
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white; /* lo de arriba del tiron*/
    background-color: #4932ff; /* color de fondo*/
    transition:  background-color 2s;/* para que el efecto de cambio sea de 2 segundos */
}
nav ul li:hover{/*psedo selector que activa cuando el raton por encima */
    background-color: aquamarine;
    /*   font-size: 22px;*/
}

/*** MAQUETACION SECCIONES *****/


section{
    padding: 50px; /* padding-left: 50px; padding-right:50px....*/
    background-color: gainsboro;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}
main section:last-child{
    /*display: flex;*/
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;

}
main section:last-child > div{

    flex-wrap: wrap;
    padding: 10px;
    justify-content:space-between;
}

main section:last-child article{
    flex-wrap:wrap;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

main section article >div {
    flex-wrap:wrap;
    padding: 10px;
    flex-direction:column;
    justify-content: space-between;
}

main section article >header{
    height: 33px;
}

main section article >div >div {
    flex-wrap:wrap;
    padding: 10px;
    flex-direction:row;
}



button{
    border-radius: 5px;
}

footer{
    text-align: center;
    font-size: 100%;
    font-weight: bold;/* BOLDER*/
    color: #555555;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    .ocultar{
        visibility: visible;
        display: none;
    }

    nav ul {
        flex-direction: column;
        flex-wrap: wrap;
    }
    nav ul li{
        width: 100%;
    }
    nav {
        height: 90px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    nav ul li{
        background-color: #2e6da4;

    }
    nav ul{
        flex-direction: column;
    }
    nav {
        flex-direction: column;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .ocultar{
        visibility: hidden;
    }
    nav ul li{
        background-color: darkseagreen;
    }

    nav ul {
        flex-direction: row;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.flex-container {
    display: flex;
}
.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

